@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Made by: @ViewData["C# Developer"]</p>
<strong>More information: </strong><a href="https://pflsbarbosa.github.io/myResume/">My cv online</a>